body{
    font-size: 100%;
    font-family: "Roboto", sans-serif;
}

h2{
    font-size: 2rem;
    align-items: center;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    line-height: 2rem;
}

h3{
    font-size: 1.5rem;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    line-height: 2rem;
}
h4{
    font-size: 1.125rem;
}
h5{
    font-size: 1.5rem;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    line-height: 0.5rem;
}

a{
    color: #0000FF;
    text-decoration: underline;
}
p{
    font-size: 1.5rem;
    line-height: 2.5rem;
}


.smallHeight{
    line-height: 1rem;
}

.text{
    text-align: center;
    line-height: 1.5rem;
}
.italic{
    font-style: italic;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 900;
    
}

.textLeft{
    text-align: left;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 700;
    font-style: normal; 
}

.underlined{
    text-decoration: underline;
}

.black{
    color: black;
}
.orange{
    color: #FF6600;
}
.white{
    color: white;
    padding-left: 1vw;
}
.copyright{
    color: black;
    text-align: center;
    font-size: 0.813rem;
    font-weight: 700;
    font-style: normal;
}
.quote{
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}
.mt{
    margin-top: 0px;
    padding-top: 0px;
}
.mb{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.bannerBackground{
    background-color: black;
    width: 100vw;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerRow{
    display: inline-block;
    flex-direction: row;
    align-items: flex-start;

}
.w-80{
    width: 80vw;
}
.pic60{
    width: 60vw;
}

.picWText{
    float: left;
    padding-right: 3vw;
    padding-top: 5vh;
}

@media(max-width:768px){
    h2{
        font-size:1.7rem ;
    }
    h3{
        font-size:1.3rem ;
    }
    h4{
        font-size:1rem ;
    }
    p{
        font-size:1.2rem ;
    }
    .textLeft{
        font-size:1.2rem ;
    }
    .copyright{
        font-size:0.5rem ;
    }
}

@media(max-width:576px){
    h2{
        font-size:1.3rem ;
    }
    h3{
        font-size:0.8rem ;
        line-height: 1rem;
    }
    h4{
        font-size:0.8rem ;
    }
    h5{
        font-size: 1rem;
    }
    p{
        font-size:1rem ;
    }
    .textLeft{
        font-size:1rem ;
    }
    .copyright{
        font-size:0.5rem ;
       
    }
    .bannerComposite1{
        width: 95%;
    }
}
